div{
    border:transparent ;


}

#conteneur_menu{
    background-color: rgb(184, 184, 207);

}


.menu_titre{
    color: darkblue;
    text-align: center;
}


#menu{
    /* background-color: chocolate; */

}

#menu_bloc_gauche{
    /* background-color: darkgreen; */
    margin-right:5px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
}

.sdw{
   border:2px solid red;
   margin:7px;
   min-width:30%;
   background-size: cover;
    border-radius: 20px;
}

.sdw>img{
    width: 300px;
    margin:7px;
    border-radius: 7px;
    
}

#menu_bloc_droite{
    background-color: darkseagreen;
}


.boisson
}


.dessert{

}
.menu_titre{
    color: darkblue;

    text-align: center;
}


}