body {
    margin:0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    background-color: #522A27;
    
}

#left {
    background-color: #522A27;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
#right {
    background-color: #522A27;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;  
    
}
img {
    height: 90%;
    width: 110px;
    
}
.fab {
    width: 30%;
}

